body {
	background-color: #12171c;
	transition: background-color 0.5s, color 0.5s;
	color: #eee;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
.light-mode {
	background-color: #E5E5E5;
	color: #000000;
}

form {
	width: 50%;
	max-width: 400px;
	background-color: #01c29a;
	border: 0.125em solid #01b58a;
	border-radius: 0.1875em;
	box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.2);
	padding: 2%;
}
.light-mode form {
	background-color: #b5eadb;
	border: 0.125em solid #83dec4;
}

fieldset {
	width: 90%;
	margin: 0 auto;
	background-color: #109976;
	border: 0.125em solid #01c29a;
	border-radius: 0.1875em;
}
.light-mode fieldset {
	background-color: #83dec4;
	border: 0.125em solid #01c29a;
}

h1 {
	text-align: center;
	color: #eee;
	margin-bottom: 1em;
}
.light-mode h1 {
	text-align: center;
	color: #000000;
}

h2 {
	color: #060f07;
}

label {
	display: block;
	margin-top: 5px;
	margin-left: 5%; /* Ajusta el margen izquierdo en relación con el ancho del contenedor */
}

input[type="text"],
input[type="password"],
input[type="email"] {
	width: 90%;
	padding: 5px;
	margin-top: 5px;
	margin-left: 5%; /* Ajusta el margen izquierdo en relación con el ancho del contenedor */
	border-radius: 3px;
	box-sizing: border-box;
}

label[for="usuario"],
label[for="email"],
label[for="clave1"],
label[for="clave2"] {
	margin-left: 5%; /* Ajusta el margen izquierdo en relación con el ancho del contenedor */
	margin-top: 5px; /* Ajusta según sea necesario */
}

label[for="usuario"] {
	margin-top: 25px;
}

input[id="clave2"] {
	margin-bottom: 25px;
}

input[type="submit"] {
	background-color: #2f8be0;
	color: #eee;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	display: block;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}
.light-mode input[type="submit"] {
	text-align: center;
	color: #000000;
	margin-bottom: 1.25em;
}

input[type="submit"]:hover {
	background-color: #0069D9;
	border-color: #0062CC;
	transition: background-color 0.5s, color 0.5s;
}

input:focus,
textarea:focus {
	transform: scale(1.02);
	transition: transform 0.3s ease;
}

.error {
	background-color: #FFD2D2;
}

/*Inicio de Dark/Light Mode Button*/
.toggle-switch {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 100px;
	height: 50px;
	--light: #d8dbe0;
	--dark: #28292c;
	--link: rgb(27, 129, 112);
	--link-hover: rgb(24, 94, 82);
}

.switch-label {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: var(--dark);
	border-radius: 25px;
	cursor: pointer;
	border: 3px solid var(--dark);
}

.checkbox {
	position: absolute;
	display: none;
}

.slider {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.checkbox:checked ~ .slider {
	background-color: var(--light);
}

.slider::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	-webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
	box-shadow: inset 12px -4px 0px 0px var(--light);
	background-color: var(--dark);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
	-webkit-transform: translateX(50px);
	-ms-transform: translateX(50px);
	transform: translateX(50px);
	background-color: var(--dark);
	-webkit-box-shadow: none;
	box-shadow: none;
}
/*Fin de Dark/Light Botton*/
